<div>ToDo List</div>
<div>You are logged in as: {{ username }} [ <a href="/logout">Logout</a> ]</div>

<br />

{{!
  Only this is displayed if a user does not have any
  to do list items.
}}

{{!
  ^ signifies if true
  # signifies if false or does not exist
}}
{{#ifAny}}
<input type="text" name="addItem" id="addItem" autofocus /><button>Add your first item</button>
{{/ifAny}}

<br />

{{^ifAny}}
<table id="todoList">
  <tr>
    <th>Completed</th>
    <th>Description</th>
    <th>Current Status</th>
    <th>Delete</th>
  </tr>

  {{#todo}}
  <tr>
    <td>
      <div class="centered">
        <input type="checkbox"/>
      </div>

    </td>
    <td class="description">{{ description }}</td>
    <td class="centered">

      {{{ status }}}
    </td>
    <td><div class="delete centered">
      <button class="deleteButton">x</button>
    </div><input type="hidden" class="uuid" value="{{{ uuid }}}" /></td>

  </tr>
  {{/todo}}

</table>

<br />
<textarea name="addItem" id="addItem" autofocus></textarea>
<br />
<button id="submitItem">Add another todo</button>

{{/ifAny}}
