<div>ToDo List</div>
<div>You are logged in as: {{ username }} [ <a href="/logout">Logout</a> ]</div>

<br />

<table id="todoList">
  <tr>
    <th>Completed</th>
    <th>Description</th>
    <th>Current Status</th>
    <th>Delete</th>
  </tr>

  {{#todo}}
  <tr>
    <td>
      <div class="centered">
        <input class="{{ status }} checkbox" id="{{ uuid }}-checkbox" type="checkbox"/>
      </div>

    </td>
    <td class="description {{ status }}">{{ description }}</td>
    <td class="centered">

      {{{ status }}}
    </td>
    <td><div class="delete centered">
      <button class="deleteButton">x</button>
    </div><input type="hidden" class="uuid" value="{{{ uuid }}}" /></td>

  </tr>
  {{/todo}}

</table>

<br />
<textarea name="addItem" id="addItem" autofocus></textarea>
<br />
<button id="submitItem">Add another todo</button>
