table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.centered {
  text-align: center;
}

.description{
  white-space: pre-wrap;
}

td.done {
  text-decoration: line-through;
}
